In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import os
import pandas_profiling as pf
import matplotlib.pyplot as plt

In [2]:
a=pd.read_csv('FitBit data.csv')

In [3]:
a['ActivityDate'].unique()

array(['3/25/2016', '3/26/2016', '3/27/2016', '3/28/2016', '3/29/2016',
       '3/30/2016', '3/31/2016', '4/1/2016', '4/2/2016', '4/3/2016',
       '4/4/2016', '4/5/2016', '4/6/2016', '4/7/2016', '4/8/2016',
       '4/9/2016', '4/10/2016', '4/11/2016', '4/12/2016', '3/12/2016',
       '3/13/2016', '3/14/2016', '3/15/2016', '3/16/2016', '3/17/2016',
       '3/18/2016', '3/19/2016', '3/20/2016', '3/21/2016', '3/22/2016',
       '3/23/2016', '3/24/2016'], dtype=object)

In [4]:
a['date']=pd.DatetimeIndex(a['ActivityDate'])
a.dtypes

Id                                   int64
ActivityDate                        object
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
date                        datetime64[ns]
dtype: object

In [5]:
a['year'] =pd.DatetimeIndex(a['ActivityDate']).year
a['month'] =pd.DatetimeIndex(a['ActivityDate']).month
a

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,date,year,month
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25,2016,3
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26,2016,3
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27,2016,3
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28,2016,3
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29,2016,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08,2016,4
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09,2016,4
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10,2016,4
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11,2016,4
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12,2016,4

In [6]:
df = a.drop(['ActivityDate'],axis=1)
df

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,date,year,month
0,1503960366,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25,2016,3
1,1503960366,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26,2016,3
2,1503960366,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27,2016,3
3,1503960366,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28,2016,3
4,1503960366,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29,2016,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08,2016,4
453,8877689391,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09,2016,4
454,8877689391,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10,2016,4
455,8877689391,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11,2016,4
456,8877689391,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12,2016,4

In [7]:
p = df[['TotalSteps','TotalDistance','VeryActiveDistance','ModeratelyActiveDistance','LightActiveDistance','Calories']]
p

,TotalSteps,TotalDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,Calories
0,11004,7.110000,2.57,0.46,4.07,1819
1,17609,11.550000,6.92,0.73,3.91,2154
2,12736,8.530000,4.66,0.16,3.71,1944
3,13231,8.930000,3.19,0.79,4.95,1932
4,12041,7.850000,2.16,1.09,4.61,1886
...,...,...,...,...,...,...
452,23014,20.389999,11.10,0.63,8.62,4196
453,16470,8.070000,0.00,0.02,8.02,3841
454,28497,27.530001,21.92,1.12,4.46,4526
455,10622,8.060000,1.47,0.15,6.37,2820
456,2350,1.780000,0.00,0.00,1.78,938

In [9]:
p.plot()

In [10]:
x

AttributeError: module 'seaborn' has no attribute 'plot'

In [14]:
p.iloc[0]

TotalSteps                  11004.00
TotalDistance                   7.11
VeryActiveDistance              2.57
ModeratelyActiveDistance        0.46
LightActiveDistance             4.07
Calories                     1819.00
Name: 0, dtype: float64

In [15]:
p.iloc[1]

TotalSteps                  17609.00
TotalDistance                  11.55
VeryActiveDistance              6.92
ModeratelyActiveDistance        0.73
LightActiveDistance             3.91
Calories                     2154.00
Name: 1, dtype: float64

In [16]:
p.iloc[0][1]

7.1100001335144

In [19]:
p.loc[1]['TotalSteps']

17609.0

In [20]:
x=[]
for i in range(50):
    x.append(p.loc[i]['TotalSteps'])

In [21]:
x

[11004.0,
 17609.0,
 12736.0,
 13231.0,
 12041.0,
 10970.0,
 12256.0,
 12262.0,
 11248.0,
 10016.0,
 14557.0,
 14844.0,
 11974.0,
 10198.0,
 12521.0,
 12432.0,
 10057.0,
 10990.0,
 224.0,
 1810.0,
 815.0,
 1985.0,
 1905.0,
 1552.0,
 1675.0,
 4506.0,
 9218.0,
 1556.0,
 2910.0,
 18464.0,
 1335.0,
 1004.0,
 1111.0,
 6344.0,
 3572.0,
 3910.0,
 10000.0,
 6627.0,
 4636.0,
 20237.0,
 12912.0,
 2819.0,
 9921.0,
 8046.0,
 11166.0,
 7842.0,
 13840.0,
 1329.0,
 6847.0,
 5367.0]

In [22]:
y=[]
for i in range(50):
    y.append(p.loc[i]['Calories'])

In [23]:
y

[1819.0,
 2154.0,
 1944.0,
 1932.0,
 1886.0,
 1820.0,
 1889.0,
 1868.0,
 1843.0,
 1850.0,
 2030.0,
 2083.0,
 1861.0,
 1755.0,
 1895.0,
 1883.0,
 1755.0,
 1811.0,
 50.0,
 1373.0,
 1264.0,
 1350.0,
 1342.0,
 1300.0,
 1313.0,
 1498.0,
 1541.0,
 1327.0,
 1452.0,
 1574.0,
 1308.0,
 1276.0,
 1278.0,
 1409.0,
 1370.0,
 1555.0,
 1469.0,
 706.0,
 3323.0,
 4029.0,
 3436.0,
 2444.0,
 3098.0,
 2925.0,
 3202.0,
 2928.0,
 3290.0,
 489.0,
 1969.0,
 1889.0]

In [24]:
plt.plot(x,y)

In [25]:
df.describe()

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,year,month
count,4.570000e+02,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.000000,457.0,457.000000
mean,4.628595e+09,6546.562363,4.663523,4.609847,0.179427,1.180897,0.478643,2.890197,0.001904,16.623632,13.070022,170.070022,995.282276,2189.452954,2016.0,3.838074
std,2.293781e+09,5398.493064,4.082072,4.068540,0.849232,2.487159,0.830995,2.237523,0.008487,28.919704,36.208635,122.205372,337.021404,815.484523,0.0,0.368786
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000,0.000000,2016.0,3.000000
25%,2.347168e+09,1988.000000,1.410000,1.280000,0.000000,0.000000,0.000000,0.870000,0.000000,0.000000,0.000000,64.000000,728.000000,1776.000000,2016.0,4.000000
50%,4.057193e+09,5986.000000,4.090000,4.090000,0.000000,0.000000,0.020000,2.930000,0.000000,0.000000,1.000000,181.000000,1057.000000,2062.000000,2016.0,4.000000
75%,6.391747e+09,10198.000000,7.160000,7.110000,0.000000,1.310000,0.670000,4.460000,0.000000,25.000000,16.000000,257.000000,1285.000000,2667.000000,2016.0,4.000000
max,8.877689e+09,28497.000000,27.530001,27.530001,6.727057,21.920000,6.400000,12.510000,0.100000,202.000000,660.000000,720.000000,1440.000000,4562.000000,2016.0,4.000000